*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: lowercase;
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: hidden;
}

@font-face {
    font-family: RobotoLight;
    src: url(Roboto-Light.ttf);
}

html, body{
    font-family: RobotoLight;
    overflow: hidden;
}

body{
    position: relative;
}

::-webkit-scrollbar{
    display: none;
}

:root{
    --grey:#b3b3b3;
    --blackone:#242424;
    --lighterblack:#363636;
}

.noselect{
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Old versions of Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.all-content{
    position: relative;
}

.loading-page{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.loading-one{
    position: absolute;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color:var(--lighterblack) white white white;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

@keyframes spin{
    100%{
        transform: rotate(360deg);
    }
}
.loading-two{
    position: absolute;
    width: 25px;
    height: 25px;
    border-style: solid;
    border-width: 2px;
    border-color:var(--lighterblack) white white white;
    border-radius: 50%;
    animation: reverse-spin 1.5s linear infinite;
}

@keyframes reverse-spin{
    100%{
        transform: rotate(-360deg);
    }
}

.all-page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100vh;
    width: 300vw;
    padding-top: 8vh;
}

.container-fluid{
    margin: 0;
    padding:0;
    width: 100vw;
    height: 100%;
}

.navbar{
    position: fixed;
    padding: 0 2rem;
    height: 8vh;
    width: 100%;
}

.logo{
    width: 50px;
    height: 50px;
}

.logo svg{
    width: 100%;
    height: 100%;
}

nav{
    height: 8vh;
    overflow-y: hidden;
}

.navs{
    position: absolute;
    right: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    list-style: none;
    text-align: center;
    align-items: center;
    gap: 5rem;
}

.links{
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    color: var(--lighterblack);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.plain-link{
    text-decoration: none;
    cursor: pointer;
}

.links:hover{
    color: var(--grey);
}

.active{
    color: var(--grey);
}

.contents{
    display: flex;
    padding: 2em;
    height: 92vh;
    width: 100vw;
}

.main{
    display: flex;
    height: 100%;
    width: 80%;
    align-items: center;
}

.welcome{
    display: inline-block;
    text-align: left;
    font-size: 7vw;
    color: var(--grey);
    font-weight: bold;
}

.arrow{
    display: flex;
    justify-content: end;
    width: 20%;
    height: 100%;
}

.arrow img{
    width: 50px;
    cursor: pointer;
}

.emphasize{
    color: var(--lighterblack);
}

.student{
    display: inline-flex;
    transform: translateX(-100%);
    opacity: 0;
}

.work-container{
    height: 92vh;
}

.works{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.works-message{
    text-align: center;
    font-size: 12vmin;
    color: var(--grey);
    font-weight: bold;
}

#trial-button{
    cursor: pointer;
}

.works-p2{
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
}

.contact-container{
    padding: 2em;
    height:92vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-message{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-message p{
    text-align: center;
    font-size: 12vmin;
    color: var(--grey);
    font-weight: bold;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-container p{
    color: var(--grey);
    font-size: 30px;
    font-weight: bold;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-container form label{
    font-size: 20px;
    font-weight: bold;
}

input, textarea{
    transition: all .6s ease-in-out;
    border-style:double;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--grey);
}

.shake{
    animation: shaked 1.2s ease-in-out;
}

@keyframes shaked {
    25%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    75%{
        transform: translateX(5px);
    }
    100%{
        transform: translateX(0px);
    }
}

.empty{
    border-bottom: 2px solid red;
}

.form-container form input{
    width: 80%;
}

.form-container form #message{
    width: 80%;
    height: 50%;
}

.success{
    border-bottom: 2px solid #4BB543;
    animation: bounce 1.5s ease-in-out;
}
@keyframes bounce {
    25%{
        width: 5%;
    }
    50%{
        transform: 65%;
    }
    75%{
        transform: 40%;
    }
    100%{
        transform: 80%;
    }
}

.form-container form input:focus, textarea:focus{
    outline: none;
    animation: shadow-in .2s ease-in-out forwards;
}

@keyframes shadow-in {
    100%{
        box-shadow: 15px 15px 8px var(--grey);
    }
}

#submit{
    font-weight: bold;
    color: var(--lighterblack);
    border: 2px solid var(--lighterblack);
    margin: 1vh;
    border-radius: 15px;
    padding: 5px;
    transition: all .5s ease-in-out;
    position: relative;
}

#submit:hover{
    background-color: var(--grey);
}

footer{
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    bottom: 0%;
    position: absolute;
    height: 5vh;
    width:100vw;
    background-color: var(--lighterblack);
    justify-content: center;
}
footer p{
    color: var(--grey);
    font-style: italic;
    text-transform: none;
}
@keyframes strike {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: var(--lighterblack);}
  }
  .strike {  
    text-decoration: line-through;
    text-decoration-thickness: 15%;
    animation: strike 2.5s linear;
  }

.transition-one{
    transition : 1s ease-in-out;
}

@media screen and (max-width: 768px){
    *{
        overflow-y: scroll; /*HIDDEN*/
    }
    .student{
        display: inline-block;
        transform: translateY(-100%);
        opacity: 0;
    }

    .contact-container{
        overflow-y: visible;
        grid-template-columns: 1fr;
    }   
    .contact-message{
        height: 40vh;
    }
    .form-container{
        height:92vh;
    }

    .logo{
        display: none;
    }
}

    /* Arrow From https://codepen.io/simonbreiter/pen/oLJAKy 
    and https://freefrontend.com/css-arrows/*/
.arrow-up {
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin: 0 1rem;
  cursor: pointer;
}
.arrow-up span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: var(--lighterblack);
  display: inline-block;
  transition: all 0.2s ease;
}
.arrow-up span:first-of-type {
  left: 0;
  transform: rotate(45deg);
}
.arrow-up span:last-of-type {
  right: 0;
  transform: rotate(-45deg);
}
.arrow-up.active span:first-of-type {
  transform: rotate(-45deg);
}
.arrow-up.active span:last-of-type {
  transform: rotate(45deg);
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    transform: rotate(180deg);
    position:absolute;
    bottom: 2vh;
    transition: all .5s ease-in-out;
}


